.header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    height: 100px;
}
.container-title {
    /* background-color: #c0e0e4; */
    border-radius: 25px;
    width: 400px;
    text-align: center;
    font-family: "titleFont";
    font-size: 50px;
}
@font-face {
    font-family: titleFont;
    src: url(/src/Fonts/Fall\ in\ love.ttf);
}
.navbar-container {
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    padding: 10px;
    gap: 30px;
}
.navbar1, .navbar2, .navbar3 {
    transition: 0.5s;
}
.navbar1:hover, .navbar2:hover, .navbar3:hover {
    color: #9ec2c7;
    cursor: pointer;

}
