.hours-ul {
    list-style-type: none;
}
.main-container {
    height: 48em;
}
.hours-container {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 7em;
    position: absolute;
    left: 55em;
}
.hours {
    margin: 0 0 10px 0;
}