.hours-ul {
    list-style-type: none;
}
.main-container {
    height: 43em;
    width: 1200px;
    margin:50px auto;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.hours-container {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 7em;
    position: absolute;
    left: 55em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hours {
    margin: 0 0 10px 0;
}
.time {
    position: absolute;
    left: 822px;
    top: 748px;
}
.quote1 {
    font-family: sans;
    position: absolute;
    left: 570px;
    top: 18em;
    font-style: italic;
}
.quote2 {
    position: absolute;
    font-family: sans;
    font-style: italic;
    left: 567px;
    top: 32em;
}
.author1, .author2 {
    font-family: sans;
    font-style: italic;
}
.author1 {
    position: absolute;
    left: 1020px;
    top: 22em;
}
.author2 {
    position: absolute;
    top: 37em;
    left: 1019px;
}
.food {
    height: 250px;
    width: 250px;
}
.title {
    text-align: center;
    margin-bottom: 60px;
}
.title h4 {
    text-transform: capitalize;
    font-size: 36px;
    position: relative;
    display: inline-block;
}
.title h4 span {
    display: block;
    font-size: 18px;
    font-style: italic;
    margin-bottom: -10px;
}
.title h4:before {
    position: absolute;
    content: '';
    width: 190px;
    height: 2px;
    background-color: #ff7720;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.single-menu {
    flex-basis: 580px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom:1px solid #919191;
}